<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../style/index.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
  <title>HOME PAGE</title>
</head>

<body>
  <div class="contenr">
    <div class="div-sing">
      User Sing Up 
    </div>
    <div class="min-contenr">

      <form class="form-post">
        <div class="contenr-input">
          <div class="input-div">
            <div>
              <label class="lable-clase">user name</label>
            </div>
            <input type="text" placeholder="user name" class="input-clas" />
          </div>
          <div class="input-div">
            <div>
              <label class="lable-clase">email</label>
            </div>
            <input type="email" placeholder="email" class="input-clas" />
          </div>
          <div class="input-div">
            <div class="lable-clase">
              <label>password</label>
            </div>

            <input type="password" placeholder="password" id="password" class="input-clas"  />
            <span class=" icon-style material-symbols-outlined" id="changTYpe">
              visibility
            </span>
          </div>
          <div class="input-div">
            <div class="lable-clase">
              <label>confermet password</label>
            </div>

            <input type="password" placeholder="confermet password" id="confpassword" class="input-clas" />
            <span class="icon-style material-symbols-outlined" id="changContype">
              visibility
            </span>
          </div>
          <div class="buttom-div">
            <button class="button-singup" id="sing-up"> Sing Up  </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script src="../js/script.js"></script>
</body>

</html>