<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
    <title>HOME PAGE</title>
  </head>
  <body>
    <div class="contenr">
      <div class="min-contenr">

        <form class="form-post">
          <div class="contenr-input">
            <div class="input-div">
              <div>
                <label class="lable-clase">user name</label>
              </div>
              <input type="text" placeholder="user name" class="input-clas" />
            </div>
            <div class="input-div">
              <div>
                <label class="lable-clase">email</label>
              </div>
              <input type="email" placeholder="email" class="input-clas" />
            </div>
            <div class="input-div">
              <div class="lable-clase">
                <label>password</label>
              </div>
  
              <input
                type="password"
                placeholder="password"
                id="password"
                class="input-clas"
              />
              <span
                class=" icon-style material-symbols-outlined"
                id="changTYpe"
              >
                visibility
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script>
      let hiden = true;
      const button = document.getElementById("changTYpe");
      button.addEventListener("click", (event) => {
        event.preventDefault();
        const password = document.getElementById("password");
        if (hiden) {
          password.setAttribute("type", "text");
          button.innerHTML = "visibility_off";
        } else {
          password.setAttribute("type", "password");
          button.innerHTML = "visibility";
        }
        hiden = !hiden;
      });
    </script>
  </body>
</html>
