.content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2b7ac938;
  margin-top: 62px;
  flex-wrap: wrap;
}

.allPost {
  margin-top: 10px;
  width: 50%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.articles button,
.dislike,
.like {
  background-color: #eee;
  color: #313030;
  /* border: none; */
  border-radius: 11px;
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid;
  cursor: pointer;
  margin-right: 10px;
}

.articles .like:hover {
  background-color: #0374ec;
}

.articles .dislike:hover {
  background-color: #ff0015;
}

.likes {
  background-color: #0374ec !important ;
}

.dislikes {
  background-color: #ff0015 !important;
}

.articles .commant:hover {
  background: linear-gradient(to right, #007bff, #00aaff, #00ccff);
}

.bottom {
  display: flex;
  flex-direction: column;
}

.reaction {
  display: flex;
  margin-bottom: 10px;
}

.articles img {
  text-align: center;
  display: flex;
  max-height: 300px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
}

.articles {
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.articles .title {
  font-size: 24px;
  font-weight: 500;
  color: #333;
  margin-bottom: 10px;
  word-break: break-word;
}

.articles .contant {
  font-size: 16px;
  color: #555;
  margin-bottom: 15px;
  word-break: break-word;
}

.date {
  width: 100px;
  text-align: center;
  color: #000000ba;
}

.uerImg {
  text-align: center;
  display: flex;
  max-height: 300px;
  object-fit: cover;
  border-radius: 4px;
  margin: 15px;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.postInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.uerName {
  font-size: larger;
}

.type {
  border: 0.2px solid #0201019e;
  border-radius: 10px;
  padding: 4px;
  margin-bottom: 10px;
  background: #c9c0c0a3;
  margin-right: 5px;
}
.cgt {
  display: flex;
  justify-content: start;
}

@media (max-width: 650px) {
  main.content {
    padding: 10px;
  }

  .articles {
    padding: 15px;
    width: 90%;
  }

  .articles .title {
    font-size: 20px;
  }

  .articles .contant {
    font-size: 14px;
  }

  .articles button {
    font-size: 12px;
    padding: 8px 10px;
  }
  .allPost {
    width: 65%;
  }
}

@media (max-width: 450px) {
  main.content {
    padding: 10px;
  }

  .articles {
    padding: 15px;
  }

  .articles img {
    max-height: 200px;
  }

  .articles .title {
    font-size: 20px;
  }

  .articles .contant {
    font-size: 14px;
  }

  .articles button {
    font-size: 12px;
    padding: 8px 10px;
  }
  .allPost {
    width: 95%;
  }
}
