<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../frontend/style/auth.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
    <title>Forum</title>
    <link rel="icon" href="../frontend/image/forum.jpeg" />
    <style></style>
  </head>
  <body>
    <header>
      <div class="img-div">
        <a href="/">
          <img src="../frontend/image/logo.png" alt="" />
        </a>
      </div>
    </header>
    <div class="contenr">
      <div class="userName">
        <label for="username">Enter your User Name</label>
        <input type="text" id="username" />
        <button class="fetch" id="fetch">Conferm</button>
        <p class="error" id="error"></p>
      </div>
    </div>
    <script src="../frontend/js/auth.js"></script>
  </body>
</html>
