<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../frontend/style/home.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
    <title>Forum</title>
    <link rel="icon" href="../frontend/image/icon.png" />
  </head>
  <body>
    <div class="content">
      <div class="singpopup closepop" id="popup">
        <button class="close" id="close">
          <span class="material-symbols-outlined"> close </span>
        </button>
        <div class="popup">
          <div class="sing">You are Not Login :</div>
          <div class="link-sing">
            <div class="sing-in">
              <a href="/singin"
                ><button class="btn-link">you have account?</button></a
              >
            </div>

            <div class="sing-up">
              <a href="/singup"
                ><button class="btn-link">you don't have account?</button></a
              >
            </div>
          </div>
        </div>
      </div>
      <button id="click">click</button>
    </div>
  </body>
  <script type="module" src="../frontend/js/home.js"></script>
</html>
