<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../frontend/style/home.css" />
    <link rel="stylesheet" href="../frontend/style/post.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
    <title>Forum</title>
    <link rel="icon" href="../frontend/image/icon.png" />
  </head>
  <body>
    <div class="postopop closePose" id="postopop">
    </div>
    <main class="content" id="content">
      <div class="allPost" id="allPost"></div>
    </main>
  </body>
  <script type="module" src="../frontend/js/home.js"></script>
  <script type="module" src="../frontend/js/post.js"></script>
</html>
