<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../frontend/style/home.css" />
    <link rel="stylesheet" href="../frontend/style/post.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
    <title>Forum</title>
    <link rel="icon" href="../frontend/image/icon.png" />
    <style></style>
  </head>
  <body>
    <div class="postopop" id="postopop">
      <article class="articles">
        <h1 class="title">hamid</h1>
        <div class="contant">hamid is the best</div>
        <div class="uerImg">
          <img src="../frontend/image/forum.jpeg" alt="" />
        </div>
        <div class="bottom">
          <div class="reaction">
            <button class="like">like</button>
            <button class="dislike">dislike</button>
          </div>
          <!-- <button class="commant">see commant</button> -->
        </div>
      </article>
      <div class="postcommat" id="postcommat">
        <div class="commant_post">
          <div class="commantInfo">
            <h1 class="Username">hamid</h1>
            <div class="date">2024-12-28 12:02:46</div>
          </div>
          <div class="commat_contant">hamid</div>
          <div class="reaction">
            <button class="like">
              <span class="material-symbols-outlined" style="font-size: 14px"
                >thumb_up</span
              ><span>0</span></button
            ><button class="dislike">
              <span class="material-symbols-outlined" style="font-size: 14px"
                >thumb_down</span
              ><span>0</span>
            </button>
          </div>
        </div>
        <span>show more</span>
      </div>
      <div class="input">
        <label for="commant">add commant</label>
        <input type="text" id="commant" />
      </div>
    </div>
  </body>
  <script type="module" src="../frontend/js/home.js"></script>
</html>
