<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../frontend/style/home.css" />
    <link rel="stylesheet" href="../frontend/style/post.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
    <title>Forum</title>
    <link rel="icon" href="../frontend/image/icon.png" />
  </head>
  <style>
    /* body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
} */

    /* main.content {
      display: flex;
      justify-content: center;
      padding: 20px;
      background-color: #fff;
    } */

    /* .allPost {
      width: 100%;
      max-width: 800px;
    } */

    /* .articles button {
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      padding: 10px 15px;
      font-size: 14px;
      cursor: pointer;
      margin-right: 10px;
    } */

    /* .articles button:hover {
      background: linear-gradient(to right, #007bff, #00aaff, #00ccff);
    } */

   
  </style>
  <body>
    <main class="content">
      <div class="allPost" id="allPost">
        <article class="articles">
          <h1 class="title">hamid</h1>
          <div class="contant">hamid is the best</div>
          <div class="uerImg">
            <img src="../frontend/image/forum.jpeg" alt="" />
          </div>
          <div class="bottom">
            <div class="reaction">
              <button class="like">like</button>
              <button class="dislike">dislike</button>
            </div>
            <button class="commant">see commant</button>
          </div>
        </article>
        <article class="articles">
          <h1 class="title">hamid</h1>
          <div class="contant">hamid is the best</div>
          <div class="uerImg">
            <img src="../frontend/image/forum.jpeg" alt="" />
          </div>
          <div class="bottom">
            <div class="reaction">
              <button class="like">like</button>
              <button class="dislike">dislike</button>
            </div>
            <button class="commant">see commant</button>
          </div>
        </article>
        <article class="articles">
          <div class="postInfo">
            <h2 class="uerName">yassine</h2>
            <span class="date">2006-01-02</span>
          </div>
          <h4 class="title">hamid</h4>
          <div class="contant">
            hamid is the best klsfhdkjshfjh kkjfhkjdshkjhdskjh ihfkjdhkjv fdhkj
            jfdvjjfkhgk khfdk hjkfhgkjhgkjhzj
            vkjfhjhxkjfjkddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
            jhfdjkhgjkdfhjkghfdjkghfjdkghjkfd fjkd jhfdkjhgjkdf gjkfdkjhgkjdfhg
            kjfghkfjdghkdfjhkfd gkdjfhgkjfghkjfdhkjfdhkjdfhkjg
            kjhfkjdhjkhgkjdfhjkhds fkjdfhkjhdjkhdkgkd kjghdksjhkjhdf kjhdfkjhdf
            uhdsjhdsk kjhkjhkjdfkjhdf Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Aperiam nobis possimus ab labore optio autem?
            Nihil hic tempora in, nam atque eius incidunt quibusdam, tenetur
            commodi labore, suscipit consequuntur unde.
          </div>
          <!-- <div class="uerImg">
            <img src="../frontend/image/forum.jpeg" alt="" />
          </div> -->
          <div class="cgt">
            <span class="type">ok </span>
            <span class="type">not oj</span>
            <span class="type">ll</span>
            <span class="type">kkk</span>
          </div>
          <div class="bottom">
            <div class="reaction">
              <button class="like">
                <span class="material-symbols-outlined"> thumb_up </span>
                10
              </button>
              <button class="dislike">
                <span class="material-symbols-outlined"> thumb_down </span>
                10
              </button>
            </div>
            <button class="commant">
              <span class="material-symbols-outlined"> comment </span>
            </button>
          </div>
        </article>
        <article class="articles">
          <h1 class="title">hamid</h1>
          <div class="contant">hamid is the best</div>
          <div class="uerImg">
            <img src="../frontend/image/forum.jpeg" alt="" />
          </div>
          <div class="bottom">
            <div class="reaction">
              <button class="like">like</button>
              <button class="dislike">dislike</button>
            </div>
            <button class="commant">see commant</button>
          </div>
        </article>
        <article class="articles">
          <h1 class="title">hamid</h1>
          <div class="contant">hamid is the best</div>
          <div class="uerImg">
            <img src="../frontend/image/forum.jpeg" alt="" />
          </div>
          <div class="bottom">
            <div class="reaction">
              <button class="like">like</button>
              <button class="dislike">dislike</button>
            </div>
            <button class="commant">see commant</button>
          </div>
        </article>
        <article class="articles">
          <h1 class="title">hamid</h1>
          <div class="contant">hamid is the best</div>
          <div class="uerImg">
            <img src="../frontend/image/forum.jpeg" alt="" />
          </div>
          <div class="bottom">
            <div class="reaction">
              <button class="like">like</button>
              <button class="dislike">dislike</button>
            </div>
            <button class="commant">see commant</button>
          </div>
        </article>
        <article class="articles">
          <h1 class="title">hamid</h1>
          <div class="contant">hamid is the best</div>
          <div class="uerImg">
            <img src="../frontend/image/forum.jpeg" alt="" />
          </div>
          <div class="bottom">
            <div class="reaction">
              <button class="like">like</button>
              <button class="dislike">dislike</button>
            </div>
            <button class="commant">see commant</button>
          </div>
        </article>
        <article class="articles">
          <h1 class="title">hamid</h1>
          <div class="contant">hamid is the best</div>
          <div class="uerImg">
            <img src="../frontend/image/forum.jpeg" alt="" />
          </div>
          <div class="bottom">
            <div class="reaction">
              <button class="like">like</button>
              <button class="dislike">dislike</button>
            </div>
            <button class="commant">see commant</button>
          </div>
        </article>
        <article class="articles">
          <h1 class="title">hamid</h1>
          <div class="contant">hamid is the best</div>
          <div class="uerImg">
            <img src="../frontend/image/forum.jpeg" alt="" />
          </div>
          <div class="bottom">
            <div class="reaction">
              <button class="like">like</button>
              <button class="dislike">dislike</button>
            </div>
            <button class="commant">see commant</button>
          </div>
        </article>
        <article class="articles">
          <h1 class="title">hamid</h1>
          <div class="contant">hamid is the best</div>
          <div class="uerImg">
            <img src="../frontend/image/forum.jpeg" alt="" />
          </div>
          <div class="bottom">
            <div class="reaction">
              <button class="like">like</button>
              <button class="dislike">dislike</button>
            </div>
            <button class="commant">see commant</button>
          </div>
        </article>
        <article class="articles">
          <h1 class="title">hamid</h1>
          <div class="contant">hamid is the best</div>
          <div class="uerImg">
            <img src="../frontend/image/forum.jpeg" alt="" />
          </div>
          <div class="bottom">
            <div class="reaction">
              <button class="like">like</button>
              <button class="dislike">dislike</button>
            </div>
            <button class="commant">see commant</button>
          </div>
        </article>
        <article class="articles">
          <h1 class="title">hamid</h1>
          <div class="contant">hamid is the best</div>
          <div class="uerImg">
            <img src="../frontend/image/forum.jpeg" alt="" />
          </div>
          <div class="bottom">
            <div class="reaction">
              <button class="like">like</button>
              <button class="dislike">dislike</button>
            </div>
            <button class="commant">see commant</button>
          </div>
        </article>
        <article class="articles">
          <h1 class="title">hamid</h1>
          <div class="contant">hamid is the best</div>
          <div class="uerImg">
            <img src="../frontend/image/forum.jpeg" alt="" />
          </div>
          <div class="bottom">
            <div class="reaction">
              <button class="like">like</button>
              <button class="dislike">dislike</button>
            </div>
            <button class="commant">see commant</button>
          </div>
        </article>
        <article class="articles">
          <h1 class="title">hamid</h1>
          <div class="contant">hamid is the best</div>
          <div class="uerImg">
            <img src="../frontend/image/forum.jpeg" alt="" />
          </div>
          <div class="bottom">
            <div class="reaction">
              <button class="like">like</button>
              <button class="dislike">dislike</button>
            </div>
            <button class="commant">see commant</button>
          </div>
        </article>
        <article class="articles">
          <h1 class="title">hamid</h1>
          <div class="contant">hamid is the best</div>
          <div class="uerImg">
            <img src="../frontend/image/forum.jpeg" alt="" />
          </div>
          <div class="bottom">
            <div class="reaction">
              <button class="like">like</button>
              <button class="dislike">dislike</button>
            </div>
            <button class="commant">see commant</button>
          </div>
        </article>
      </div>
    </main>
  </body>
  <script type="module" src="../frontend/js/home.js"></script>
</html>
